<header>
    <ul>
        <li> <a href="/"> Home </a> </li>
        <li> <a href="/dashboard"> Dashboard </a> </li>
        <li>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit"> Logout </button>
            </form>
        </li>
    </ul>
</header>