<% if (locals.messages.error) { %>
    <div style="color: red;">
        <%= locals.messages.error %>
    </div>
<% } %>

<form action="/login" method="POST">
    <div>
        <label for="username"> Username: </label>
            <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password"> Password: </label>
            <input type="password" name="password" id="password" required>
    </div>
        <button type="submit"> Login </button>
</form>